<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Our Library</title>
</head>
<body>
    <header style="background: #1abc9c;height: 30%;">
        <center style="font-size: 40px;font-family: 'Times New Roman';">Our beautiful library</center>
    </header>
    <div class="btn-group" style="width:100%">
        <a href="/books/"><button style="width:33.3%" >Books</button></a>
        <a href="/"><button style="width:33.3%">Main</button></a>
        <a href="/orders/list_sorted_created_asc/"><button style="width:33.3%">Orders</button></a>
    </div>
    {% block books %}
    {% endblock %}
</body>
</html>